<div class="container">
  <mat-card class="card totals">
    <span>Week Total: {{ emp?.totalTime?.week | hours }}</span>
    <span>Pay Period Total: {{ emp?.totalTime?.payPeriod | hours }}</span>
  </mat-card>

  <mat-card class="card jobs">
    <mat-grid-list
      class="grid"
      cols="{{ emp?.showWorkOrders ? 5 : 4 }}"
      rowHeight="16vh"
      gutterSize=".2vh"
    >
      <!-- headers -->
      <mat-grid-tile colspan="1" rowspan="1" class="tile">
        Job Title
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="tile"> Week </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="tile">
        Pay Period
      </mat-grid-tile>
      <mat-grid-tile
        *ngIf="emp?.showWorkOrders"
        colspan="1"
        rowspan="1"
        class="tile"
      >
        WO
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1"> </mat-grid-tile>

      <ng-container *ngFor="let job of emp?.jobs">
        <!-- name -->
        <mat-grid-tile colspan="1" rowspan="1" class="job tile">
          {{ job?.name }}
        </mat-grid-tile>

        <!-- week total -->
        <mat-grid-tile colspan="1" rowspan="1" class="job tile">
          {{ job?.totalTime.week | hours }}
        </mat-grid-tile>

        <!-- pay period total -->
        <mat-grid-tile colspan="1" rowspan="1" class="job tile">
          {{ job?.totalTime.payPeriod | hours }}
        </mat-grid-tile>

        <!-- work order -->
        <mat-grid-tile
          *ngIf="emp?.showWorkOrders"
          colspan="1"
          rowspan="1"
          class="job tile"
        >
          <div class="work-order">
            <button
              class="mat-primary"
              mat-stroked-button
              color="primary"
              disabled
            >
              {{ job?.currentWorkOrder?.id }}
            </button>
            <button
              color="primary"
              (click)="selectWo(job)"
              (press)="selectWo(job)"
              mat-raised-button
            >
              Change WO/SR
            </button>
          </div>
        </mat-grid-tile>

        <!-- clock in/out -->
        <mat-grid-tile colspan="1" rowspan="1">
          <button *ngIf="!job?.clockedIn" color="primary" mat-raised-button>
            Clock In
          </button>

          <button *ngIf="job?.clockedIn" color="warn" mat-raised-button>
            Clock Out
          </button>
        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>
  </mat-card>
</div>
