.mat-dialog-title {
  text-align: center;
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .space {
    height: 3vh;
  }
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
