<div class="container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Enter Hours</mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      <ng-container *ngFor="let other of day?.otherHours; let lastItem = last">
        <div class="entry">
          <span class="label">{{ other?.trc?.description }}</span>
          <span
            class="hours"
            [class.editable]="other?.editable"
            (click)="openTimeEdit(other)"
            >{{ other?.timeReportingCodeHours }}</span
          >
        </div>

        <mat-divider *ngIf="!lastItem"></mat-divider>
      </ng-container>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>YTD Balance</mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      <ng-container *ngIf="day?.sickHoursYTD">
        <div class="entry">
          <span class="label">Sick</span>
          <span class="hours">{{ day?.sickHoursYTD }}</span>
        </div>

        <mat-divider *ngIf="day?.vacationHoursYTD"></mat-divider>
      </ng-container>

      <div *ngIf="day?.vacationHoursYTD" class="entry">
        <span class="label">Vacation</span>
        <span class="hours">{{ day?.vacationHoursYTD }}</span>
      </div>
    </mat-card-content>
  </mat-card>

  <!---
  <div class="sv-card mat-elevation-z3">
    <div class="row work-order">
      <span class="sv-card-header">Enter Hours</span>
    </div>

    <div class="row work-order spread">
      <span class="sv-label">Sick</span>
      <span type="time" class="sv-time">{{
        day?.sickHours ? day?.sickHours : "--:--"
      }}</span>
    </div>

    <mat-divider></mat-divider>

    <div class="row work-order spread">
      <span class="sv-label">Vacation</span>
      <span type="time" class="sv-time">{{
        day?.vacationHours ? day?.vacationHours : "--:--"
      }}</span>
    </div>
  </div>

    <div class="sv-card mat-elevation-z3">
      <div class="row work-order">
        <span class="sv-card-header">YTD Balance</span>
      </div>

      <div class="row work-order spread">
        <span class="sv-label">Sick</span>
        <span class="sv-time read-only" *ngIf="day?.sickHoursYTD">
          {{ day?.sickHoursYTD }}
        </span>
        <span class="sv-time read-only" *ngIf="!day?.sickHoursYTD">
          --:--
        </span>
      </div>

      <mat-divider></mat-divider>

      <div class="row work-order spread">
        <span class="sv-label">Vacation</span>
        <span class="sv-time read-only" *ngIf="day?.vacationHoursYTD">
          {{ day?.vacationHoursYTD }}
        </span>
        <span class="sv-time read-only" *ngIf="!day?.vacationHoursYTD">
          --:--
        </span>
      </div>
    </div>
  </div>
    -->
</div>
