@import "@angular/material/theming";
@include mat-core();

/* custom templates */

// mat-card
@mixin mat-card-theme($theme) {
  // get the colors i need
  $primary: map-get($theme, primary);
  $accent: map-get($theme, warn);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .mat-mdc-card {
    background-color: mat-color($background, card);
    color: mat-color($foreground, text);
  }
}

@mixin mat-card-typography($config) {
  .mat-mdc-card {
    font {
      family: mat-font-family($config, body-1);
      size: mat-font-size($config, body-1);
      weight: mat-font-weight($config, body-1);
    }
  }
}

@mixin overlay-theme($theme) {
  // get the colors i need
  $primary: map-get($theme, primary);
  $accent: map-get($theme, warn);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .overlay {
    &.wo-select-overlay {
      background-color: mat-color($background, background);
      color: mat-color($foreground, text);
    }

    &.time-entry-overlay {
      background-color: mat-color($background, background);
      color: mat-color($foreground, text);
    }
  }
}

@mixin overlay-typography($config) {
  .mat-mdc-card {
    font {
      family: mat-font-family($config, body-1);
      size: mat-font-size($config, body-1);
      weight: mat-font-weight($config, body-1);
    }
  }
}

// mixin for any of my themes for custom templates
@mixin custom($theme) {
  @include mat-card-theme($theme);
  @include overlay-theme($theme);
}

$byu-blue: (
  300: #3c568b,
  500: #002e5d,
  700: #000333,
  contrast: (
    300: #ffffff,
    500: #ffffff,
    700: #ffffff
  )
);
$light-blue: (
  300: #6092f2,
  500: #1b65bf,
  700: #003c8e,
  contrast: (
    300: #000000,
    500: #ffffff,
    700: #ffffff
  )
);
$warning-red: (
  300: #e53935,
  500: #c1272d,
  700: #b71c1c,
  contrast: (
    300: #000000,
    500: #ffffff,
    700: #ffffff
  )
);

// default (light) theme
$default-primary: mat-palette($byu-blue, 500, 300, 700);
$default-accent: mat-palette($light-blue, 500, 300, 700);
$default-warn: mat-palette($warning-red, 500, 300, 700);
$default: mat-light-theme($default-primary, $default-accent, $default-warn);
@include angular-material-theme($default);
@include custom($default);

// theme for status (success/warning/error) colors
$status-primary: mat-palette($mat-green);
$status-accent: mat-palette($mat-yellow);
$status-warn: mat-palette($mat-red);
$status: mat-light-theme($status-primary, $status-accent, $status-warn);
.status-theme {
  @include angular-material-theme($status);
  @include custom($status);
}

// dark theme :)
$dark: mat-dark-theme($default-primary, $default-accent, $default-warn);
.dark-theme {
  @include angular-material-theme($dark);
  @include custom($dark);

  .mat-app-background {
    background-color: mat-color($default-primary, darker);
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.mat-tab-label-active {
  background-color: #002e5d;
}

.keyboard-tall-button {
  height: 14vh !important;
  font-size: 1.4em;
}

.keyboard-button-disabled {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.45) !important;
  opacity: 0.45;
}

.dismiss {
  color: #ffffff;
}

.dismiss button {
  color: #ffc107;
}

.red-snackbar {
  color: white;
  background-color: rgb(151, 0, 0);
}

.red-snackbar .mat-mdc-snack-bar-action {
  color: white
}
