@use '@angular/material' as mat;
@include mat.core();

$byu-blue: (
  300: #3c568b,
  500: #002e5d,
  700: #000333,
  contrast: (
    300: #ffffff,
    500: #ffffff,
    700: #ffffff
  )
);


$light-blue: (
  300: #6092f2,
  500: #1b65bf,
  700: #003c8e,
  contrast: (
    300: #000000,
    500: #ffffff,
    700: #ffffff
  )
);

$warning-red: (
  300: #e53935,
  500: #c1272d,
  700: #b71c1c,
  contrast: (
    300: #000000,
    500: #ffffff,
    700: #ffffff
  )
);

$default-primary: mat.define-palette($byu-blue, 500, 300, 700);
$default-accent: mat.define-palette($light-blue, 500, 300, 700);
$default-warn: mat.define-palette($warning-red, 500, 300, 700);

$default-theme: mat.define-light-theme((
 color: (
   primary: $default-primary,
   accent: $default-accent,
   warn: $default-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($default-theme);

// dark theme :)
$dark: mat.define-dark-theme((
 color: (
   primary: $default-primary,
   accent: $default-accent,
   warn: $default-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

.dark-theme {
  @include mat.all-component-themes($dark);
  .mat-mdc-card {
    padding: 10px;
  }
  .mat-mdc-card-outlined, .clock-group[_ngcontent-ng-c825893131] .clock-button[_ngcontent-ng-c825893131] {
    border-color: #c1272d;
  }

}


.mat-tab-label-active {
  background-color: #002e5d;
}

.keyboard-tall-button {
  height: 14vh !important;
  font-size: 1.4em;
}

.keyboard-button-disabled {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.45) !important;
  opacity: 0.45;
}

.dismiss {
  color: #ffffff;
}

.dismiss button {
  color: #ffc107;
}

.red-snackbar {
  color: white;
  background-color: rgb(151, 0, 0);
}

.red-snackbar .mat-simple-snackbar-action {
  color: white
}


