.container {
    width: 96vw;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 72vh;
}

mat-card {
    width: 97%;
    height: 100%;
}

.no-punches {
    padding: 3vh 0;
    font-size: 1.5em;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.punches {
    width: 40vw;
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
    pointer-events: all;
    &::-webkit-scrollbar {
        width: 7px;
    }
    &::-webkit-scrollbar-track {
        background: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
        background: #969595;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #aaaaaa;
    }
}

.punch {
    margin: 0.1vh 0;
    height: 8vh;
    width: 37vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.15em;
    .time {
        width: 12vw;
        height: 6vh;
        &.edit {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(181, 40, 40, 0.45);
        }
    }
}

.delete {
    color: #b52828;
}

.total {
    margin: 6vh 0;
    font-size: 1.5em;
    font-weight: bold;
}