<div class="container">
	<mat-card class="mat-elevation-z3">
		<div *ngIf="day?.punches?.length === 0" class="card-content">
			<span class="no-punches">No punches recorded for this day.</span>
		</div>
		<div *ngIf="day?.punches?.length > 0" class="card-content">
			<div class="punches">
				<div class="punch" *ngFor="let punch of day?.punches">
					<span class="time" [class.edit]="!punch?.time" [class.delete]="punch?.deletablePair > 0"
						(click)="openKeyboard(punch)" (click)="deletePunch(punch)">
						{{ punch?.time ? (punch?.time | date: "shortTime") : "--:--" }}
					</span>

					<span class="type" [class.delete]="punch?.deletablePair > 0" (click)="deletePunch(punch)">
						{{ punchType.toString(punch?.type) }}
					</span>
				</div>
			</div>

			<span class="total"> Total: {{ day?.punchedHours }} </span>

			<button *ngIf="job.isPhysicalFacilities" class="lunch" color="accent" mat-raised-button
				(click)="lunchPunch()">
				Enter Lunch Punch
			</button>
		</div>
	</mat-card>
</div>
