<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <div class="sidenav">
      <button
        mat-flat-button
        color=""
        routerLink="jobs"
        routerLinkActive="mat-accent"
      >
        <mat-icon>access_time</mat-icon>
      </button>

      <button
        mat-flat-button
        color=""
        routerLink="timesheet"
        routerLinkActive="mat-accent"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <!-- TODO get employee and show this one conditionally -->
      <button
        mat-flat-button
        color=""
        routerLink="workorders"
        routerLinkActive="mat-accent"
      >
        <mat-icon>code</mat-icon>
      </button>

      <button
        mat-flat-button
        color=""
        routerLink="something"
        routerLinkActive="mat-accent"
      >
        <mat-icon>code</mat-icon>
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
