$sidenavWidth: 3.5em;

.sidenav-container {
  height: 100%;
}

.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc(100% - 64px); // the height of the top bar

  width: $sidenavWidth;
  overflow: hidden;

  button,
  a {
    flex: 1 1 auto;
    width: 100%;
    text-align: left;

    .material-icons {
      margin-right: 0.35em;
    }
  }
}

.sidenav-content {
  width: calc(100% - #{$sidenavWidth});
  margin-left: $sidenavWidth;

  overflow: hidden;
}
