$outputWidth: 30vw;

.base {
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: 95%;
  height: 9vh;
  font-size: 1.3em;
  margin: 3vh 0;

  &:focus {
    outline: none;
  }

  border: 1px rgba(0, 0, 0, 0.5) solid;
}

.simple-keyboard {
  margin-top: 2vh;

  flex: 1 0 auto;
  max-width: 100%;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  margin: 2vh 0;
  height: 33vh;
}

.output {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: $outputWidth - 4vw;
  padding: 0 2vw;
}

.cancel {
  padding: 1.3vh 3.3vw;
  font-size: 1em;
}

.options {
  width: 100vw - $outputWidth - 4vw;
  padding: 0 2vw;
  text-align: center;

  .no-options {
    font-size: 1.4em;
  }

  .option {
    height: 100%;
    width: 100%;

    button {
      height: 95%;
      width: 97%;
      white-space: pre-line;
      line-height: 4vh;

      font-size: 1em;
    }
  }
}

.keyboard-tall-button {
  height: 14vh !important;
  font-size: 1.4em;
}
