.container {
  margin: 0.5em auto;
  width: 98%;
  column-gap: 1em;
  column-fill: initial;
  column-count: 1;
  transition: all 0.5s ease-in-out;

  .card {
    margin: 0 0 0.5em;
    break-inside: avoid;
  }
}

.totals {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.jobs {
  .grid {
  }

  .tile {
    &.job {
      //border-style: solid;
      // border-width: 0.2vh;
      //border-color: black;
    }

    .work-order {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}
