<mat-toolbar color="primary">
  <object type="image/svg+xml" data="./assets/byu_logo.svg"></object>
  <span>Y-Time</span> <span class="header-spacer"></span>
  <span>{{ emp?.name }}</span>
</mat-toolbar>

<div class="container">
  <mat-card class="card totals">
    <span>Week Total: {{ emp?.totalTime?.week }}</span>
    <span>Pay Period Total: {{ emp?.totalTime?.payPeriod }}</span>
  </mat-card>

  <mat-card class="jobs card">
    <mat-grid-list
      class="grid"
      cols="{{ emp?.showTRC() ? 6 : 5 }}"
      rowHeight="16vh"
      gutterSize=".2vh"
    >
      <!-- headers -->
      <mat-grid-tile colspan="1" rowspan="1" class="tile">
        Job Title
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="tile"> Week </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" class="tile">
        Pay Period
      </mat-grid-tile>
      <mat-grid-tile
        *ngIf="emp?.showTRC()"
        colspan="1"
        rowspan="1"
        class="tile"
      >
        TRC
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1">Clock</mat-grid-tile>

      <ng-container *ngFor="let job of emp?.jobs">
        <!-- name -->
        <mat-grid-tile colspan="1" rowspan="1" class="job tile">
          {{ job?.description }}
        </mat-grid-tile>

        <!-- week total -->
        <mat-grid-tile colspan="1" rowspan="1" class="job tile">
          {{ job?.totalTime?.week | hours }}
        </mat-grid-tile>

        <!-- pay period total -->
        <mat-grid-tile colspan="1" rowspan="1" class="job tile">
          {{ job?.totalTime?.payPeriod | hours }}
        </mat-grid-tile>

        <mat-grid-tile *ngIf="emp?.showTRC()" colspan="1" rowspan="1">
          {{ job?.currentTRC?.id }}
        </mat-grid-tile>

        <!-- clock in/out -->
        <mat-grid-tile colspan="2" rowspan="1">
          <button color="primary" mat-raised-button>Clock In</button>
          <button color="warn" mat-raised-button>Clock Out</button>
        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>
  </mat-card>

  <button
    class="view-timesheet"
    color="accent"
    (click)="toTimesheet()"
    mat-raised-button
  >
    View Timesheet
  </button>
</div>
