.header-spacer {
  flex: 1 1 auto;
}

.login {
  height: 90%;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  .id {
    height: 19vh;
    font-size: 8vh;
  }

  .logo {
    width: 55vh;
    height: 55vh;
  }
}

.num-pad {
  display: grid;
  grid-gap: 2vh 2vh;
  grid-template-columns: auto auto auto;
  z-index: 100000;

  button {
    height: 17vh;
    width: 17vh;
    font-size: 4vh;

    &.num {
      font-size: 5vh;
    }
  }
}

.management {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}
