<mat-sidenav-container
  *ngIf="jobs?.length > 1; else oneJob"
  class="sidenav-container"
>
  <mat-sidenav #sidenav mode="side" opened>
    <div class="sidenav">
      <button *ngFor="let job of jobs" mat-flat-button color="">
        i'm a button
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <ng-container *ngTemplateOutlet="datepick; context: { job: jobs[0] }">
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #oneJob>
  <ng-container *ngTemplateOutlet="datepick; context: { job: jobs[0] }">
  </ng-container>
</ng-template>

<ng-template #datepick let-job="job">
  <mat-card class="card header">
    <button
      mat-button
      [disabled]="prevValidDate(date) === undefined"
      (click)="date = prevValidDate(date)"
      (press)="date = prevValidDate(date)"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>

    <div class="text">
      <button mat-button (click)="picker.open()" (press)="picker.open()">
        {{ date | date: "fullDate" }}
      </button>
    </div>

    <button
      mat-button
      [disabled]="nextValidDate(date) === undefined"
      (click)="date = nextValidDate(date)"
      (press)="date = nextValidDate(date)"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </mat-card>
  <ng-content> </ng-content>
</ng-template>

<div class="hidden">
  <input
    [matDatepicker]="picker"
    (dateChange)="date = $event.value"
    [min]="min"
    [max]="max"
    [matDatepickerFilter]="isDateValid"
    matInput
  />
</div>
<mat-datepicker #picker touchUi></mat-datepicker>
