<mat-toolbar class="do-header" color="primary">
	<button mat-button (click)="goBack()">
		<mat-icon style="transform: scale(2)">keyboard_arrow_left </mat-icon>
	</button>
	<span (click)="goBack()">
		{{
      job?.businessTitle.length > 15
        ? job?.businessTitle.substring(0, 15) + "..."
        : job?.businessTitle
    }}
	</span>

	<span class="do-header-spacer"></span>
	<span (click)="api?.hiddenDarkMode()">{{ day?.time | date: "EEE. MMM d, y" }}</span>
	<span class="do-header-spacer"></span>

	<span (click)="logout()">{{ emp?.name }} </span>
	<button (click)="logout()" mat-icon-button>
		<mat-icon>exit_to_app</mat-icon>
	</button>
</mat-toolbar>

<mat-tab-group mat-stretch-tabs backgroundColor="accent" color="none" [(selectedIndex)]="selectedTab"
	[disableRipple]="true" [@.disabled]="true">
	<mat-tab>
		<ng-template mat-tab-label>
			<span class="punchesText" >Punches</span>
		
		</ng-template>
		<punches class="tab-content" [byuID]="emp?.id" [jobID]="job?.positionNumber" [day]="day" [job]="job"></punches>
	</mat-tab>
</mat-tab-group>
