<h1 *ngIf="data?.title" mat-dialog-title>{{data?.title}}</h1>

<div mat-dialog-content>
  <mat-form-field *ngIf="data?.showTRC" class="form-field">
    <mat-label>Select a TRC</mat-label>
    <mat-select [(value)]="selectedPay">
      <mat-option *ngFor="let t of data?.job?.trcs" [value]="t?.id">
        {{ t?.description }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="data?.showWO" class="form-field">
    <input
      placeholder="Enter WO/SR"
      [value]="selectedWO?.toString()"
      (click)="selectWorkOrder()"
      matInput
    />
  </mat-form-field>

  <mat-form-field *ngIf="data?.showHours" class="form-field">
    <input placeholder="Hours" [(value)]="hours" matInput />
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button color="warn" (click)="cancel()" (press)="cancel()" mat-raised-button>
    Cancel
  </button>

  <button
    color="primary"
    type="mat-raised-button"
    [click]="submit"
    [press]="submit"
    (success)="ref.close()"
    cdkFocusInitial
    activity-button
  >
    Submit
  </button>
</div>
