<h1 *ngIf="job?.currentWorkOrder" mat-dialog-title>Change Work Order</h1>
<h1 *ngIf="!job?.currentWorkOrder" mat-dialog-title>Select Work Order</h1>

<div mat-dialog-content>
  <mat-form-field *ngIf="job?.trcs?.length > 0" class="form-field">
    <mat-label>Select a TRC</mat-label>
    <mat-select [(value)]="selectedPay">
      <mat-option *ngFor="let t of job?.trcs" [value]="t?.id">
        {{ t?.description }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-field">
    <input
      placeholder="Enter WO/SR"
      [value]="selectedWO?.toString()"
      (click)="selectWorkOrder()"
      matInput
    />
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button color="warn" (click)="cancel()" (press)="cancel()" mat-raised-button>
    Cancel
  </button>
  <button color="primary" mat-raised-button cdkFocusInitial>Submit</button>
</div>
