.activity-button-container {
  overflow: hidden;

  .activity-button-success {
    background-color: #5cbb5c;
  }

  .activity-button-error {
    background-color: #d9534f;
  }

  ::ng-deep.mat-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  * {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;

    &.active {
      opacity: 1;
    }
  }

  .activity-button-spinner {
    position: absolute;
    top: 25%;
  }

  .activity-button-mat-icon {
    position: absolute;
  }
}
