<!--
<ng-container *ngIf="!type" [ngSwitch]="color">
  <button
    *ngSwitchDefault
    color="primary"
    class="activity-button-container"
    [class.activity-button-success]="_resolved"
    [class.activity-button-error]="_error"
    [disabled]="disabled"
    (click)="_do(click)"
    (press)="_do(press)"
    mat-button
  >
    <ng-container *ngTemplateOutlet="inside"></ng-container>
  </button>
  <button
    *ngSwitchCase="'accent'"
    color="accent"
    class="activity-button-container"
    [class.activity-button-success]="_resolved"
    [class.activity-button-error]="_error"
    [disabled]="disabled"
    (click)="_do(click)"
    (press)="_do(press)"
    mat-button
  >
    <ng-container *ngTemplateOutlet="inside"></ng-container>
  </button>
  <button
    *ngSwitchCase="'warn'"
    color="warn"
    class="activity-button-container"
    [class.activity-button-success]="_resolved"
    [class.activity-button-error]="_error"
    [disabled]="disabled"
    (click)="_do(click)"
    (press)="_do(press)"
    mat-button
  >
    <ng-container *ngTemplateOutlet="inside"></ng-container>
  </button>
</ng-container>

<ng-container *ngIf="type === 'mat-raised-button'" [ngSwitch]="color">
  <button
    *ngSwitchDefault
    color="primary"
    class="activity-button-container"
    [class.activity-button-success]="_resolved"
    [class.activity-button-error]="_error"
    [disabled]="disabled"
    (click)="_do(click)"
    (press)="_do(press)"
    mat-raised-button
  >
    <ng-container *ngTemplateOutlet="inside"></ng-container>
  </button>
  <button
    *ngSwitchCase="'accent'"
    color="accent"
    class="activity-button-container"
    [class.activity-button-success]="_resolved"
    [class.activity-button-error]="_error"
    [disabled]="disabled"
    (click)="_do(click)"
    (press)="_do(press)"
    mat-raised-button
  >
    <ng-container *ngTemplateOutlet="inside"></ng-container>
  </button>
  <button
    *ngSwitchCase="'warn'"
    color="warn"
    class="activity-button-container"
    [class.activity-button-success]="_resolved"
    [class.activity-button-error]="_error"
    [disabled]="disabled"
    (click)="_do(click)"
    (press)="_do(press)"
    mat-raised-button
  >
    <ng-container *ngTemplateOutlet="inside"></ng-container>
  </button>
</ng-container>

<ng-container *ngIf="type === 'mat-stroked-button'" [ngSwitch]="color">
  <button
    *ngSwitchDefault
    color="primary"
    class="activity-button-container"
    [class.activity-button-success]="_resolved"
    [class.activity-button-error]="_error"
    [disabled]="disabled"
    (click)="_do(click)"
    (press)="_do(press)"
    mat-stroked-button
  >
    <ng-container *ngTemplateOutlet="inside"></ng-container>
  </button>
  <button
    *ngSwitchCase="'accent'"
    color="accent"
    class="activity-button-container"
    [class.activity-button-success]="_resolved"
    [class.activity-button-error]="_error"
    [disabled]="disabled"
    (click)="_do(click)"
    (press)="_do(press)"
    mat-stroked-button
  >
    <ng-container *ngTemplateOutlet="inside"></ng-container>
  </button>
  <button
    *ngSwitchCase="'warn'"
    color="warn"
    class="activity-button-container"
    [class.activity-button-success]="_resolved"
    [class.activity-button-error]="_error"
    [disabled]="disabled"
    (click)="_do(click)"
    (press)="_do(press)"
    mat-stroked-button
  >
    <ng-container *ngTemplateOutlet="inside"></ng-container>
  </button>
</ng-container>

<ng-container *ngIf="type === 'mat-flat-button'" [ngSwitch]="color">
  <button
    *ngSwitchDefault
    color="primary"
    class="activity-button-container"
    [class.activity-button-success]="_resolved"
    [class.activity-button-error]="_error"
    [disabled]="disabled"
    (click)="_do(click)"
    (press)="_do(press)"
    mat-flat-button
  >
    <ng-container *ngTemplateOutlet="inside"></ng-container>
  </button>
  <button
    *ngSwitchCase="'accent'"
    color="accent"
    class="activity-button-container"
    [class.activity-button-success]="_resolved"
    [class.activity-button-error]="_error"
    [disabled]="disabled"
    (click)="_do(click)"
    (press)="_do(press)"
    mat-flat-button
  >
    <ng-container *ngTemplateOutlet="inside"></ng-container>
  </button>
  <button
    *ngSwitchCase="'warn'"
    color="warn"
    class="activity-button-container"
    [class.activity-button-success]="_resolved"
    [class.activity-button-error]="_error"
    [disabled]="disabled"
    (click)="_do(click)"
    (press)="_do(press)"
    mat-flat-button
  >
    <ng-container *ngTemplateOutlet="inside"></ng-container>
  </button>
</ng-container>

<ng-container *ngIf="type === 'mat-icon-button'" [ngSwitch]="color">
  <button
    *ngSwitchDefault
    color="primary"
    class="activity-button-container"
    [class.activity-button-success]="_resolved"
    [class.activity-button-error]="_error"
    [disabled]="disabled"
    (click)="_do(click)"
    (press)="_do(press)"
    mat-icon-button
  >
    <ng-container *ngTemplateOutlet="inside"></ng-container>
  </button>
  <button
    *ngSwitchCase="'accent'"
    color="accent"
    class="activity-button-container"
    [class.activity-button-success]="_resolved"
    [class.activity-button-error]="_error"
    [disabled]="disabled"
    (click)="_do(click)"
    (press)="_do(press)"
    mat-icon-button
  >
    <ng-container *ngTemplateOutlet="inside"></ng-container>
  </button>
  <button
    *ngSwitchCase="'warn'"
    color="warn"
    class="activity-button-container"
    [class.activity-button-success]="_resolved"
    [class.activity-button-error]="_error"
    [disabled]="disabled"
    (click)="_do(click)"
    (press)="_do(press)"
    mat-icon-button
  >
    <ng-container *ngTemplateOutlet="inside"></ng-container>
  </button>
</ng-container>

the inside of every button


<ng-template #inside>
  <span [class.active]="!_resolving && !_resolved && !_error">
    <ng-content></ng-content
  ></span>
  <ng-container [ngSwitch]="spinnerColor">
    <mat-spinner
      *ngSwitchDefault
      color="primary"
      class="spinner"
      [class.active]="_resolving && !_resolved && !_error"
      [diameter]="20"
    ></mat-spinner>

    <mat-spinner
      *ngSwitchCase="'accent'"
      color="accent"
      class="spinner"
      [class.active]="_resolving && !_resolved && !_error"
      [diameter]="20"
    ></mat-spinner>

    <mat-spinner
      *ngSwitchCase="'warn'"
      color="warn"
      class="spinner"
      [class.active]="_resolving && !_resolved && !_error"
      [diameter]="20"
    ></mat-spinner>
  </ng-container>
  <mat-icon [class.active]="_resolved">check</mat-icon>
  <mat-icon [class.active]="_error">close</mat-icon>
</ng-template>
-->

<span class="mat-button-wrapper"><ng-content></ng-content></span>
<div
  matRipple
  class="mat-button-ripple"
  [class.mat-button-ripple-round]="isRoundButton || isIconButton"
  [matRippleDisabled]="_isRippleDisabled()"
  [matRippleCentered]="isIconButton"
  [matRippleTrigger]="_getHostElement()"
></div>
<div class="mat-button-focus-overlay"></div>
