.mat-button-wrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .mat-button-content,
  .mat-spinner,
  .mat-icon {
    opacity: 0;
    transition: opacity 0s ease-in-out;
    line-height: unset;

    &.active {
      opacity: 1;
    }
  }

  .hidden {
    display: none;
  }
}

.activity-button-success {
  background-color: #5cbb5c !important;
}

.activity-button-error {
  background-color: #d9534f !important;
}
