$card-width: 95%;
.header-spacer {
    flex: 1 1 auto;
}

.container {
    margin: 0.5em auto;
    width: 98%;
    column-gap: 1em;
    column-fill: initial;
    column-count: 1;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    .card {
        margin: 0 0 0.5em;
        break-inside: avoid;
    }
}

.jobs {
    overflow-y: auto;
    height: 76vh;
    width: $card-width;
    .card {
        height: 100%;
    }
}

.column {
    display: flex;
    height: 100%;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.spaced-button {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.full-button {
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 40%;
    height: 10vh;
}

.mat-grid-tile {
    &.header {
        &:after {
            $width: 45%;
            position: absolute;
            bottom: 29%;
            height: 3%;
            width: $width;
            margin-left: (100% - $width) / 2;
            background-color: #c5c5c5;
            content: "";
        }
    }
}