<mat-toolbar color="primary">
    <button mat-button (click)="goBack()">
                <mat-icon style="transform: scale(2)">keyboard_arrow_left</mat-icon>
              </button>
    <object type="image/svg+xml" data="./assets/byu_logo.svg"></object>
    <span>Y-Time</span> <span class="header-spacer"></span>
    <span>{{ emp?.name }}</span>
    <button (click)="logout()" mat-icon-button>
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
    <mat-card class="jobs card mat-elevation-z3">
        <div class="column">
            <ng-container *ngFor="let job of emp?.jobs; let i = index">
                <button class="view-timesheet" color="accent" (click)="selectJob(i)" mat-raised-button>
                    <span class="spaced-button">
                            <span style="padding-top: 2px; font-size: 12pt;">{{ job?.description }}</span>
                            <span class="header-spacer"></span>
                            <mat-icon>keyboard_arrow_right</mat-icon>
                    </span>
                                    
                      </button>
            </ng-container>
        </div>


    </mat-card>
</div>