<job-time-select
  [jobs]="jobs"
  [min]="minDate"
  [max]="maxDate"
  [valid]="validDate"
>
  <mat-grid-list class="grid" cols="4" rowHeight="12vh" gutterSize=".2vh">
    <!-- headers -->
    <mat-grid-tile colspan="1" rowspan="1" class="tile"> WO/SR </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" class="tile"> Hours </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" class="tile"> Action </mat-grid-tile>

    <!-- data -->
    <ng-content *ngFor="let wo of job.days"> </ng-content>
  </mat-grid-list>
</job-time-select>
