$outputWidth: 30vw;

.time-entry-container {
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.time-entry-left {
  width: 55%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-entry-title {
  font-size: 1.8em;
}

.time-entry-input-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.time-entry-input {
  width: 50%;
  height: 9vh;
  font-size: 1.3em;
  margin: 3vh 0;

  text-align: center;
  border: 1px rgba(0, 0, 0, 0.5) solid;

  &:focus {
    outline: none;
  }

  &.unfilled {
    color: rgba(0, 0, 0, 0.5);
  }
}

.simple-keyboard {
  margin-top: 2vh;

  flex: 1 0 auto;
  max-width: 100%;
}

.time-entry-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  margin: 2vh 0;
  height: 33vh;
  width: 100%;
}

.time-entry-output {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: $outputWidth - 4vw;
  padding: 0 2vw;
}

.time-entry-cancel {
  padding: 1.3vh 3.3vw;
  font-size: 1em;
}

.time-entry-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  height: 100%;
}
